<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">TAXIMO TEST</a>

</nav>

<main class="container" role="main">
  <div class="jumbotron">
    <h1>Taximo Test - Synchronous Shopping </h1>
    <p class="lead">Se debe construir una aplicación web que solucione el problema para cada entrada de datos a
      través de una API. La aplicación debe estar construida en Javascript en el lado del servidor.
      Aunque el principal criterio de evaluación es que la aplicación funcione, la organización del
      código, la arquitectura usada y la documentación del código son importantes en la evaluación.</p>
    <%= link_to 'New Synchronous Shopping Test', new_home_path, class: 'btn btn-lg btn-success' %>
  </div>
  <div class="container"></div>
  <p class="lead">Resultados:</p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Parameters / Shopping Centers / Roads</th>
        <th scope="col">Minimun Time</th>
      </tr>
      </thead>
      <tbody>
      <% @synchronous_shoppings.each do |store| %>
        <tr>
          <th scope="row">
            <%= store.parameters %>
          </th>
          <td>
            <%= store.minimum_time %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <hr>
</main>
<div class="container">
  <div align="center">Desarrollado por Carlos A. Arboleda</div>
</div>

<br/><br/>