<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/synchronous_shopping">TAXIMO TEST</a>

</nav>

<main class="container" role="main">
  <div class="jumbotron">
    <h1>New Request</h1>

    <div class="form-group">
      <!--Form Text Area-->
      <textarea rows="10" cols="10" class="form-control" id="min_road_text_area"></textarea>
      <!--Button request-->
      <br/>
      <button class="btn btn-lg btn-success" onclick="synchronous_shopping()">
        Hacer Consulta
      </button>
    </div>
    <div class="result">
      <div class="min_time">
        <h2></h2>
        <h3></h3>
      </div>
    </div>

  </div>
</main>

<div class="container">
  <div align="center">Desarrollado por Carlos A. Arboleda</div>
</div>

